[Unit]
Description=maria daemon
Requires=redis.service postgresql.service
After=redis.service postgresql.service network-online.target

[Service]
Type=simple
User=maria
Group=maria
UMask=0027

# 设置Node.js和pnpm的路径
# 注意！！！此处根据你的实际情况来填写，如果你是完整的按照安装文档的步骤来，则无需任何修改
Environment="PATH=/home/maria/.nvm/versions/node/v20.19.2/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="NODE_ENV=production"
Environment="npm_config_cache=/tmp"
Environment="NODE_OPTIONS=--max-old-space-size=3072"

# 使用绝对路径调用pnpm
# 注意！！！此处根据你的实际情况来填写，如果你是完整的按照安装文档的步骤来，则无需任何修改
ExecStart=/home/maria/.nvm/versions/node/v20.19.2/bin/pnpm run start

WorkingDirectory=/home/maria/maria
StandardOutput=journal
StandardError=journal
SyslogIdentifier=maria
TimeoutSec=60
Restart=always


CapabilityBoundingSet=
DevicePolicy=closed
NoNewPrivileges=true
LockPersonality=true
PrivateDevices=true
PrivateIPC=true
PrivateMounts=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectProc=invisible
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SecureBits=noroot-locked
SystemCallArchitectures=native
SystemCallFilter=~@chown @clock @cpu-emulation @debug @ipc @keyring @memlock @module @mount @obsolete @privileged @raw-io @reboot @resources @setuid @swap
SystemCallFilter=capset pipe pipe2 setpriority

[Install]
WantedBy=multi-user.target
